name: Python CI

on:
  push:

jobs:
  ci:
    uses: RWTH-EBC/ci_templates/.github/workflows/ci_pipeline.yml@development
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
    with:
      PYTHON_VERSION: "3.13"
      EXTRA_REQUIREMENTS: '[report]'
      PYTHON_PACKAGE_NAME: 'teaser'
      EXECUTE_TESTS: false
      PYTHON_TEST_MATRIX: '["3.12", "3.13"]'
      EXECUTE_COVERAGE_TEST: true
      USE_DYMOLA: true